
.cuadro-rosa {
    width: 70%;
    height: 80vh;
    background: #EFDAE8;
    position: relative;
    display: flex;
    margin-left: 0;
    overflow: visible;
}

.principal-izq {
    width: 60%;
    padding: 0 0 0 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.texto p:first-child {
    font-style: italic;
    font-size: 18px;
    color: #3D3C41;
    margin-bottom: 10px;
}

.texto h1 {
    font-size: 32px;
    color: #3D3C41;
    font-size: 4.5vh;
    font-family: "Playfair display", bold;
}

.texto p:last-child {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #3D3C41;
    max-width: 400px;
}

.boton-rosaf {
    background: #A87E96;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    align-self: flex-start;
}

.boton-rosaf:hover {
    transform: translateY(-2px);
    background: #657C58;
    color: white;
}

.principal-der {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
}

.principal-der img {
    width: 40vh;
    height: 60vh;
    object-fit: cover;
    border-radius: 40% 40% 0 0;
    position: absolute;
    right: -20vh;
    top: 15%;
}

@media (max-width: 768px) {
    .cuadro-rosa {
        width: 95%;
        height: auto;
        flex-direction: column;
        margin-left: 2.5%;
    }

    .principal-izq {
        width: 100%;
        padding: 40px 30px;
    }

    .principal-der {
        width: 100%;
        justify-content: center;
        padding: 20px;
    }

    .texto h1 {
        font-size: 2rem;
    }

    .texto p:last-child {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #3D3C41;
        max-width: 300px;
    }

    .principal-der img {
        display: none;
    }
}